In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
#import tick customization tools
import matplotlib.ticker as mticks
import matplotlib.dates as mdates
## Setting figures to timeseries-friendly
plt.rcParams['figure.figsize'] = (12,4)
plt.rcParams['figure.facecolor'] = 'white'
sns.set_context("talk", font_scale=0.9)
# set random seed
SEED = 321
np.random.seed(SEED)
#display more columns
pd.set_option('display.max_columns',50)

In [2]:
df = pd.read_csv('Data/Part_1_Crime_Data.csv',low_memory=False)
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600851 entries, 0 to 600850
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   X                599778 non-null  float64
 1   Y                599778 non-null  float64
 2   RowID            600851 non-null  int64
 3   CCNumber         600851 non-null  object
 4   CrimeDateTime    600851 non-null  object
 5   CrimeCode        600851 non-null  object
 6   Description      600851 non-null  object
 7   Inside_Outside   0 non-null       float64
 8   Weapon           148969 non-null  object
 9   Post             592841 non-null  float64
 10  Gender           504343 non-null  object
 11  Age              484256 non-null  float64
 12  Race             578293 non-null  object
 13  Ethnicity        73191 non-null   object
 14  Location         597777 non-null  object
 15  Old_District     563500 non-null  object
 16  New_District     29337 non-null   object
 17  Neighborhood     592434 non-null  object
 18  Latitude         599778 non-null  float64
 19  Longitude        599778 non-null  float64
 20  GeoLocation      600851 non-null  object
 21  PremiseType      465523 non-null  object
 22  Total_Incidents  600851 non-null  int64
dtypes: float64(7), int64(2), object(14)
memory usage: 105.4+ MB

,X,Y,RowID,CCNumber,CrimeDateTime,CrimeCode,Description,Inside_Outside,Weapon,Post,Gender,Age,Race,Ethnicity,Location,Old_District,New_District,Neighborhood,Latitude,Longitude,GeoLocation,PremiseType,Total_Incidents
0,-76.537730,39.347847,1,11D00296,2011/04/01 16:10:00+00,6J,LARCENY,NaN,NaN,445.0,M,NaN,WHITE,NaN,4200 PARKMONT AVE,NORTHEAST,NaN,CEDMONT,39.347847,-76.537730,"(39.347847,-76.53773)",YARD,1
1,-76.569408,39.342510,2,11D00627,2011/04/01 08:30:00+00,6E,LARCENY,NaN,NaN,421.0,NaN,NaN,UNKNOWN,NaN,4600 HARFORD RD,NORTHEAST,NaN,BEVERLY HILLS,39.342510,-76.569408,"(39.34251,-76.569408)",STREET,1
2,-76.665305,39.294518,3,11C15131,2011/04/01 00:00:00+00,5A,BURGLARY,NaN,NaN,814.0,M,62.0,BLACK_OR_AFRICAN_AMERICAN,NaN,2900 EDMONDSON AVE,SOUTHWEST,NaN,FRANKLINTOWN ROAD,39.294518,-76.665305,"(39.294518,-76.665305)",ROW/TOWNHOUSE-OCC,1
3,-76.610265,39.294660,4,11D01960,2011/04/01 07:30:00+00,6E,LARCENY,NaN,NaN,324.0,NaN,NaN,UNKNOWN,NaN,500 FALLSWAY,EASTERN,NaN,PENN-FALLSWAY,39.294660,-76.610265,"(39.29466,-76.610265)",STREET,1
4,-76.610359,39.291364,5,11D00074,2011/04/01 05:39:00+00,6D,LARCENY FROM AUTO,NaN,NaN,111.0,M,50.0,WHITE,NaN,200 HOLIDAY ST,CENTRAL,NaN,DOWNTOWN,39.291364,-76.610359,"(39.291364,-76.610359)",PARKING LOT-OUTSIDE,1