In [1]:
import pandas as pd

df= pd.read_csv('Data/Chicago-Crime_2022.csv')
df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,12582293,01/01/2022 01:00:00 PM,THEFT,$500 AND UNDER,RESTAURANT,False,False,121,1.0,42.0,41.881884,-87.640060
1,12607313,01/01/2022 01:00:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,BANK,False,False,811,8.0,23.0,41.787923,-87.769446
2,12585671,01/01/2022 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,PARKING LOT / GARAGE (NON RESIDENTIAL),False,False,531,5.0,9.0,41.687443,-87.604120
3,12592889,01/01/2022 01:00:00 AM,OTHER OFFENSE,HARASSMENT BY TELEPHONE,APARTMENT,False,False,412,4.0,8.0,41.734353,-87.585147
4,12584977,01/01/2022 01:00:00 AM,THEFT,$500 AND UNDER,OTHER (SPECIFY),False,False,1811,18.0,2.0,41.910818,-87.654560
...,...,...,...,...,...,...,...,...,...,...,...,...
238853,12938029,12/31/2022 12:50:00 PM,ASSAULT,SIMPLE,APARTMENT,False,False,1014,10.0,24.0,41.855911,-87.719966
238854,12937822,12/31/2022 12:50:00 PM,ASSAULT,AGGRAVATED - HANDGUN,APARTMENT,False,True,733,7.0,6.0,41.766546,-87.645669
238855,12937583,12/31/2022 12:52:00 AM,BATTERY,SIMPLE,BARBERSHOP,False,False,1135,11.0,28.0,41.868829,-87.686098
238856,12938420,12/31/2022 12:52:00 PM,ASSAULT,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,1432,14.0,32.0,41.930693,-87.685657
238857,12939906,12/31/2022 12:59:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,1511,15.0,29.0,NaN,NaN

In [2]:
#Topic 1) Comparing Police Districts
melted= pd.melt(df, id_vars= ['Date','District', 'Primary Type'])
melted

,Date,District,Primary Type,variable,value
0,01/01/2022 01:00:00 PM,1.0,THEFT,ID,12582293
1,01/01/2022 01:00:00 PM,8.0,DECEPTIVE PRACTICE,ID,12607313
2,01/01/2022 01:00:00 AM,5.0,CRIMINAL DAMAGE,ID,12585671
3,01/01/2022 01:00:00 AM,4.0,OTHER OFFENSE,ID,12592889
4,01/01/2022 01:00:00 AM,18.0,THEFT,ID,12584977
...,...,...,...,...,...
2149717,12/31/2022 12:50:00 PM,10.0,ASSAULT,Longitude,-87.719966
2149718,12/31/2022 12:50:00 PM,7.0,ASSAULT,Longitude,-87.645669
2149719,12/31/2022 12:52:00 AM,11.0,BATTERY,Longitude,-87.686098
2149720,12/31/2022 12:52:00 PM,14.0,ASSAULT,Longitude,-87.685657
2149721,12/31/2022 12:59:00 PM,15.0,DECEPTIVE PRACTICE,Longitude,NaN

In [3]:
melted['Date'] = pd.to_datetime(melted['Date'])
melted.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2149722 entries, 0 to 2149721
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   Date          datetime64[ns]
 1   District      float64
 2   Primary Type  object
 3   variable      object
 4   value         object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 82.0+ MB

In [4]:
df_ts = melted.groupby('District').resample("D").sum()
df_ts

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'