In [1]:
import zipfile
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import os
import statsmodels.tsa.api as tsa
from pmdarima.model_selection import train_test_split
from pmdarima.arima.utils import ndiffs, nsdiffs

In [2]:
# Open the ZIP file
with zipfile.ZipFile('Data/Chicago_Crime_2001-2022.zip') as zf:
    file_list = zf.namelist()
    
    dfs = []
    
    for file_name in file_list:
        if file_name.endswith('.csv'):
            with zf.open(file_name) as f:
                df = pd.read_csv(f)
            dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

combined_df.to_csv('combined_data.csv', index=False)

print(combined_df)

               ID                    Date        Primary Type  \
0         1326041  01/01/2001 01:00:00 AM             BATTERY
1         1319931  01/01/2001 01:00:00 PM             BATTERY
2         1324743  01/01/2001 01:00:00 PM            GAMBLING
3         1310717  01/01/2001 01:00:00 AM     CRIMINAL DAMAGE
4         1318099  01/01/2001 01:00:00 AM             BATTERY
...           ...                     ...                 ...
7713104  12938029  12/31/2022 12:50:00 PM             ASSAULT
7713105  12937822  12/31/2022 12:50:00 PM             ASSAULT
7713106  12937583  12/31/2022 12:52:00 AM             BATTERY
7713107  12938420  12/31/2022 12:52:00 PM             ASSAULT
7713108  12939906  12/31/2022 12:59:00 PM  DECEPTIVE PRACTICE

                                     Description  \
0                                         SIMPLE
1                                         SIMPLE
2                            ILLEGAL ILL LOTTERY
3                                     TO VEHICLE
4                                         SIMPLE
...                                          ...
7713104                                   SIMPLE
7713105                     AGGRAVATED - HANDGUN
7713106                                   SIMPLE
7713107                                   SIMPLE
7713108  FINANCIAL IDENTITY THEFT $300 AND UNDER

                 Location Description  Arrest  Domestic  Beat  District  Ward  \
0                           RESIDENCE   False     False  1624      16.0   NaN
1                           RESIDENCE   False      True   825       8.0   NaN
2                              STREET    True     False   313       3.0   NaN
3                              STREET   False     False  2424      24.0   NaN
4             RESIDENCE PORCH/HALLWAY   False      True   214       2.0   NaN
...                               ...     ...       ...   ...       ...   ...
7713104                     APARTMENT   False     False  1014      10.0  24.0
7713105                     APARTMENT   False      True   733       7.0   6.0
7713106                    BARBERSHOP   False     False  1135      11.0  28.0
7713107  COMMERCIAL / BUSINESS OFFICE   False     False  1432      14.0  32.0
7713108                     RESIDENCE   False     False  1511      15.0  29.0

          Latitude  Longitude
0        41.957850 -87.749185
1        41.783892 -87.684841
2        41.780412 -87.611970
3        42.012391 -87.678032
4        41.819538 -87.620020
...            ...        ...
7713104  41.855911 -87.719966
7713105  41.766546 -87.645669
7713106  41.868829 -87.686098
7713107  41.930693 -87.685657
7713108        NaN        NaN

[7713109 rows x 12 columns]

In [3]:
df= pd.read_csv('combined_data.csv')
df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1326041,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
1,1319931,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2,1324743,01/01/2001 01:00:00 PM,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
3,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
4,1318099,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020
...,...,...,...,...,...,...,...,...,...,...,...,...
7713104,12938029,12/31/2022 12:50:00 PM,ASSAULT,SIMPLE,APARTMENT,False,False,1014,10.0,24.0,41.855911,-87.719966
7713105,12937822,12/31/2022 12:50:00 PM,ASSAULT,AGGRAVATED - HANDGUN,APARTMENT,False,True,733,7.0,6.0,41.766546,-87.645669
7713106,12937583,12/31/2022 12:52:00 AM,BATTERY,SIMPLE,BARBERSHOP,False,False,1135,11.0,28.0,41.868829,-87.686098
7713107,12938420,12/31/2022 12:52:00 PM,ASSAULT,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,1432,14.0,32.0,41.930693,-87.685657
7713108,12939906,12/31/2022 12:59:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,1511,15.0,29.0,NaN,NaN

In [4]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7713109 entries, 0 to 7713108
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  datetime64[ns]
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 603.2+ MB

In [5]:
df= df.set_index('Date')

In [6]:
df.isna().sum()

ID                           0
Primary Type                 0
Description                  0
Location Description     10928
Arrest                       0
Domestic                     0
Beat                         0
District                    47
Ward                    614846
Latitude                 88685
Longitude                88685
dtype: int64

In [7]:
df = df.interpolate()
df.isna().sum().sum()

10933

In [8]:
crime_per_yr = df.groupby([ 'Date','District','Arrest','Domestic','Beat']).size().reset_index(name='Count')
crime_per_yr

                       Date  District  Arrest  Domestic  Beat  Count
0       2001-01-01 00:00:00       1.0   False     False   111      1
1       2001-01-01 00:00:00       1.0   False     False   122      1
2       2001-01-01 00:00:00       2.0   False     False   211      1
3       2001-01-01 00:00:00       2.0   False     False   231      1
4       2001-01-01 00:00:00       2.0   False     False   233      1
...                     ...       ...     ...       ...   ...    ...
7584440 2022-12-31 23:45:00      22.0   False     False  2234      1
7584441 2022-12-31 23:47:00      22.0    True     False  2221      2
7584442 2022-12-31 23:50:00      15.0   False      True  1523      1
7584443 2022-12-31 23:50:00      24.0   False     False  2431      1
7584444 2022-12-31 23:55:00      15.0   False     False  1522      1

[7584445 rows x 6 columns]

In [9]:
decomp = tsa.seasonal_decompose(df)
fig = decomp.plot()
fig.set_size_inches(12,5)
fig.tight_layout()

ValueError: could not convert string to float: 'BATTERY'

In [ ]:
df= df.resample("M").mean()

In [11]:
d = ndiffs(df)
print (f'd = {d}')

ValueError: could not convert string to float: 'BATTERY'

In [ ]:
D = nsdiffs(ts, m =12)
print(f'D = {D}')

In [ ]:
ts_diff = ts.diff().dropna()

In [ ]:
plot_acf_pacf(ts_diff, annotate_seas=True, m = 12);

In [ ]:
train, test = train_test_split(ts, test_size=.25)
ax = train.plot(label='Train')
test.plot(ax=ax, label='Test')
ax.legend();

In [ ]:
# Fitting a SARIMA model

# Orders for non seasonal components
p = 1  # nonseasonal AR
d = 1  # nonseasonal differencing
q = 1  # nonseasonal MA

# Orders for seasonal components
P = 1  # Seasonal AR
D = 0  # Seasonal differencing
Q = 1  # Seasonal MA
m = 12 # Seasonal period

sarima = tsa.ARIMA(train, order = (p,d,q), seasonal_order=(P,D,Q,m)).fit()

In [ ]:
# Obtain summary of forecast as dataframe
forecast_df = sarima.get_forecast(len(test)).summary_frame()

plot_forecast(train, test, forecast_df)

regression_metrics_ts(test, forecast_df["mean"])

In [ ]:
sarima.summary()

In [ ]:
fig = sarima.plot_diagnostics()
fig.set_size_inches(10,6)
fig.tight_layout()