In [1]:
import pandas as pd
import os, glob
import zipfile

#folder= "Chicago/"
#file_list= sorted(glob.glob(folder+'/*.csv.gz'))
#file_list

#df= pd.concat([pd.read_csv('Data/Chicago/Chicago_Crime_2001-2022.zip') for f in file_list])
#df
#csv_files_path = 'info/*.csv'
#file_list = glob.glob(csv_files_path)
#file_list

#df = pd.concat([pd.read_csv(f) for f in file_list])
#df

In [2]:
import zipfile
import pandas as pd

# Open the ZIP file
with zipfile.ZipFile('info/Chicago_Crime_2001-2022.zip') as zf:
    file_list = zf.namelist()
    
    dfs = []
    
    for file_name in file_list:
        if file_name.endswith('.csv'):
            with zf.open(file_name) as f:
                df = pd.read_csv(f)
            dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

combined_df.to_csv('combined_data.csv', index=False)

print(combined_df)

               ID                    Date        Primary Type  \
0         1326041  01/01/2001 01:00:00 AM             BATTERY
1         1319931  01/01/2001 01:00:00 PM             BATTERY
2         1324743  01/01/2001 01:00:00 PM            GAMBLING
3         1310717  01/01/2001 01:00:00 AM     CRIMINAL DAMAGE
4         1318099  01/01/2001 01:00:00 AM             BATTERY
...           ...                     ...                 ...
7713104  12938029  12/31/2022 12:50:00 PM             ASSAULT
7713105  12937822  12/31/2022 12:50:00 PM             ASSAULT
7713106  12937583  12/31/2022 12:52:00 AM             BATTERY
7713107  12938420  12/31/2022 12:52:00 PM             ASSAULT
7713108  12939906  12/31/2022 12:59:00 PM  DECEPTIVE PRACTICE

                                     Description  \
0                                         SIMPLE
1                                         SIMPLE
2                            ILLEGAL ILL LOTTERY
3                                     TO VEHICLE
4                                         SIMPLE
...                                          ...
7713104                                   SIMPLE
7713105                     AGGRAVATED - HANDGUN
7713106                                   SIMPLE
7713107                                   SIMPLE
7713108  FINANCIAL IDENTITY THEFT $300 AND UNDER

                 Location Description  Arrest  Domestic  Beat  District  Ward  \
0                           RESIDENCE   False     False  1624      16.0   NaN
1                           RESIDENCE   False      True   825       8.0   NaN
2                              STREET    True     False   313       3.0   NaN
3                              STREET   False     False  2424      24.0   NaN
4             RESIDENCE PORCH/HALLWAY   False      True   214       2.0   NaN
...                               ...     ...       ...   ...       ...   ...
7713104                     APARTMENT   False     False  1014      10.0  24.0
7713105                     APARTMENT   False      True   733       7.0   6.0
7713106                    BARBERSHOP   False     False  1135      11.0  28.0
7713107  COMMERCIAL / BUSINESS OFFICE   False     False  1432      14.0  32.0
7713108                     RESIDENCE   False     False  1511      15.0  29.0

          Latitude  Longitude
0        41.957850 -87.749185
1        41.783892 -87.684841
2        41.780412 -87.611970
3        42.012391 -87.678032
4        41.819538 -87.620020
...            ...        ...
7713104  41.855911 -87.719966
7713105  41.766546 -87.645669
7713106  41.868829 -87.686098
7713107  41.930693 -87.685657
7713108        NaN        NaN

[7713109 rows x 12 columns]

In [3]:
df= pd.read_csv('combined_data.csv')
df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1326041,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
1,1319931,01/01/2001 01:00:00 PM,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2,1324743,01/01/2001 01:00:00 PM,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
3,1310717,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
4,1318099,01/01/2001 01:00:00 AM,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020
...,...,...,...,...,...,...,...,...,...,...,...,...
7713104,12938029,12/31/2022 12:50:00 PM,ASSAULT,SIMPLE,APARTMENT,False,False,1014,10.0,24.0,41.855911,-87.719966
7713105,12937822,12/31/2022 12:50:00 PM,ASSAULT,AGGRAVATED - HANDGUN,APARTMENT,False,True,733,7.0,6.0,41.766546,-87.645669
7713106,12937583,12/31/2022 12:52:00 AM,BATTERY,SIMPLE,BARBERSHOP,False,False,1135,11.0,28.0,41.868829,-87.686098
7713107,12938420,12/31/2022 12:52:00 PM,ASSAULT,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,1432,14.0,32.0,41.930693,-87.685657
7713108,12939906,12/31/2022 12:59:00 PM,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,1511,15.0,29.0,NaN,NaN

In [4]:
#Topic 1) Comparing Police Districts
df['District'].value_counts

<bound method IndexOpsMixin.value_counts of 0          16.0
1           8.0
2           3.0
3          24.0
4           2.0
           ...
7713104    10.0
7713105     7.0
7713106    11.0
7713107    14.0
7713108    15.0
Name: District, Length: 7713109, dtype: float64>

In [5]:
df['Date'] = pd.to_datetime(df['Date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7713109 entries, 0 to 7713108
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  datetime64[ns]
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 603.2+ MB

In [6]:
df= df.set_index("Date")
df

,ID,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
Date,,,,,,,,,,,
2001-01-01 01:00:00,1326041,BATTERY,SIMPLE,RESIDENCE,False,False,1624,16.0,NaN,41.957850,-87.749185
2001-01-01 13:00:00,1319931,BATTERY,SIMPLE,RESIDENCE,False,True,825,8.0,NaN,41.783892,-87.684841
2001-01-01 13:00:00,1324743,GAMBLING,ILLEGAL ILL LOTTERY,STREET,True,False,313,3.0,NaN,41.780412,-87.611970
2001-01-01 01:00:00,1310717,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,2424,24.0,NaN,42.012391,-87.678032
2001-01-01 01:00:00,1318099,BATTERY,SIMPLE,RESIDENCE PORCH/HALLWAY,False,True,214,2.0,NaN,41.819538,-87.620020
...,...,...,...,...,...,...,...,...,...,...,...
2022-12-31 12:50:00,12938029,ASSAULT,SIMPLE,APARTMENT,False,False,1014,10.0,24.0,41.855911,-87.719966
2022-12-31 12:50:00,12937822,ASSAULT,AGGRAVATED - HANDGUN,APARTMENT,False,True,733,7.0,6.0,41.766546,-87.645669
2022-12-31 00:52:00,12937583,BATTERY,SIMPLE,BARBERSHOP,False,False,1135,11.0,28.0,41.868829,-87.686098
2022-12-31 12:52:00,12938420,ASSAULT,SIMPLE,COMMERCIAL / BUSINESS OFFICE,False,False,1432,14.0,32.0,41.930693,-87.685657
2022-12-31 12:59:00,12939906,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,RESIDENCE,False,False,1511,15.0,29.0,NaN,NaN

In [7]:
df_ts = df.groupby('District').resample("D").sum()
df_ts

/var/folders/fc/lxtc0_tj33b65krh167ynf300000gn/T/ipykernel_6284/2194773693.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_ts = df.groupby('District').resample("D").sum()

                           ID  Arrest  Domestic  Beat  District   Ward  \
District Date
1.0      2001-01-01  79828005      12         1  4721      38.0  221.0
         2001-01-02  58162190      19         4  5352      44.0    0.0
         2001-01-03  58246972      19         5  5299      44.0    0.0
         2001-01-04  54182466      18         3  5036      41.0    0.0
         2001-01-05  92052666      21         4  8107      67.0    2.0
...                       ...     ...       ...   ...       ...    ...
31.0     2022-12-16         0       0         0     0       0.0    0.0
         2022-12-17         0       0         0     0       0.0    0.0
         2022-12-18         0       0         0     0       0.0    0.0
         2022-12-19         0       0         0     0       0.0    0.0
         2022-12-20  12928420       1         0  1112      31.0   37.0

                        Latitude    Longitude
District Date
1.0      2001-01-01  1507.542089 -3154.664508
         2001-01-02  1842.733029 -3855.696087
         2001-01-03  1842.752433 -3855.724921
         2001-01-04  1717.016895 -3592.868903
         2001-01-05  2763.870026 -5783.603694
...                          ...          ...
31.0     2022-12-16     0.000000     0.000000
         2022-12-17     0.000000     0.000000
         2022-12-18     0.000000     0.000000
         2022-12-19     0.000000     0.000000
         2022-12-20    41.967986   -87.818793

[184784 rows x 8 columns]

In [8]:
#Topic 2) Crimes Across the Years

In [9]:
#Topic 4) Comparing Months