In [1]:
import pandas as pd

df= pd.read_csv('Data/stock_prices.csv')
df

            Date  Closing Price
0     2010-01-04      30.950001
1     2010-01-05      30.959999
2     2010-01-06      30.770000
3     2010-01-07      30.450001
4     2010-01-08      30.660000
...          ...            ...
1253  2014-12-24      48.139999
1254  2014-12-26      47.880001
1255  2014-12-29      47.450001
1256  2014-12-30      47.020000
1257  2014-12-31      46.450001

[1258 rows x 2 columns]

In [2]:
#0) Convert the date column to datetime

df['Date']= pd.to_datetime(df['Date'])

df.set_index('Date', inplace= True)
df

            Closing Price
Date
2010-01-04      30.950001
2010-01-05      30.959999
2010-01-06      30.770000
2010-01-07      30.450001
2010-01-08      30.660000
...                   ...
2014-12-24      48.139999
2014-12-26      47.880001
2014-12-29      47.450001
2014-12-30      47.020000
2014-12-31      46.450001

[1258 rows x 1 columns]

In [3]:
#1) Resample the data as business days "B".

resampled= df.resample('B').mean()
resampled

            Closing Price
Date
2010-01-04      30.950001
2010-01-05      30.959999
2010-01-06      30.770000
2010-01-07      30.450001
2010-01-08      30.660000
...                   ...
2014-12-25            NaN
2014-12-26      47.880001
2014-12-29      47.450001
2014-12-30      47.020000
2014-12-31      46.450001

[1303 rows x 1 columns]

In [6]:
#2) Check for missing values and impute if necessary. (for stock data, you should forward-fill the missing values).

df.isna().sum()

Closing Price    0
dtype: int64